.content
  width 90%
  margin 20px auto
  overflow-x hidden
  .ck.ck-editor
    position static
    .ck-editor__main
      position absolute
      left 0
      right 0
      bottom 50px
      top 38px
      .ck-editor__editable
        height 100%
  .btnPanel
    position absolute
    bottom 0
    right 0
    button
      margin-left 10px