.content
  width 80%
  margin 10px auto
  a
    color white
    text-decoration none

.articleList
  .item
    width 100%
    height 60px
    background-color: white
    border-radius: 6px
    border: 1px solid #e7eaf1;
    box-shadow: 0 1px 3px rgba(0,37,55,.06)
    margin-bottom 10px
    display flex
    justify-content space-between
    align-items center
    .left
      margin-left 10px
      display flex
      align-items center
      p
        margin-right 20px
        font-size 13px
      .title
        font-size 18px
    .right
      margin-right 10px
      button
        margin-left 10px
  .item:hover
    box-shadow: 0 1px 10px #777
