.content {
  width: 80%;
  margin: 10px auto;
}
.content a {
  color: #fff;
  text-decoration: none;
}
.articleList .item {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #e7eaf1;
  box-shadow: 0 1px 3px rgba(0,37,55,0.06);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articleList .item .left {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.articleList .item .left p {
  margin-right: 20px;
  font-size: 13px;
}
.articleList .item .left .title {
  font-size: 18px;
}
.articleList .item .right {
  margin-right: 10px;
}
.articleList .item .right button {
  margin-left: 10px;
}
.articleList .item:hover {
  box-shadow: 0 1px 10px #777;
}
