input
  border none

.head
  display none

.content
  display flex
  align-items center
  justify-content center

.title
  text-align center
  font-size 40px

.dologin
  width 500px
  background-color white
  border 1px solid #e7eaf1
  border-radius 5px
  box-shadow 0 1px 10px #777
  box-sizing border-box
  padding-top 60px

  div
    width 260px
    height 60px
    margin 0 auto
    text-align center
    font-size 15px

    label
      display: inline-block;
      width: 60px;
      text-align: right;

    input
      margin-left 10px
      outline none
      border-bottom 1px solid #888888

    .btn
      width 200px
      height 35px
      border 1px solid #00BFFF
      cursor pointer
      background-color #00BFFF
      color white
      border-radius 5px
    .errTip
      width 200px
      text-align left
      margin-left 40px
      font-size: 14px;
      color: red;